In [1]:
import yaml 
import glob 
import pandas as pd
files = glob.glob("*.yaml")
print(f"実験結果数 : {len(files)}")

index = [0, 1, 2, 3, 4, 5, 6, 7, 8]

def profiling(profile, id):
    age = int(id[5])
    gender = id[4]

    age_th = 4

    if profile == 0:
        res = 0
    elif profile == 1:
        # 性別
        if gender == 'F':
            res = 0
        else:
            res = 1
    elif profile == 2:
        # 年齢(2クラス)
        # 40 <=, 40 >
        if age <= age_th:
            res = 0
        else:
            res = 1
    elif profile == 3:
        if gender == 'F':
            if age <= age_th:
                res = 0 
            else:
                res = 1
        else:
            if age <= age_th:
                res = 2
            else:
                res = 3
    return res

実験結果数 : 35

# SS & ternary

In [6]:
index = [3, 4, 5, 6, 7]
df_results = pd.DataFrame(0, index=index, columns=['t','a','v','ta','tv','av','tav'])
for file in files:
    with open(file) as file:
        obj = yaml.safe_load(file)
        config = obj["config"]
        if config["annot"] == "SS" and config["label"] == "ternary":
            results = obj["results"]
            data = list(results.values())
            acc = round(sum(data) / len(data), 2)
            df_results.at[config['age_th'] + 1, config['modal']] = acc

display(df_results)

      t     a     v    ta    tv    av   tav
3  0.48  0.46  0.43  0.45  0.49  0.46  0.46
4  0.49  0.47  0.44  0.46  0.49  0.48  0.47
5  0.49  0.49  0.52  0.47  0.49  0.48  0.47
6  0.49  0.47  0.51  0.47  0.51  0.48  0.48
7  0.48  0.46  0.48  0.45  0.50  0.47  0.46